In [4]:
## Assignment 1 -- 12/5/2021

## Question 1 


Company_List1 =["Amazon","Flipkart","Netflix","Facebook"]  ## Firstlist
Company_List1
type(Company_List1)

list

In [13]:
Company_List2=["Vodafone","Airtel","Youtube","Amazon","Netflix"] ## Second list##
Company_List2

['Vodafone', 'Airtel', 'Youtube', 'Amazon', 'Netflix']

In [20]:
## Question2

print((set(Company_List1 ) & set (Company_List2 )))    ## Overlaping brand names in both list

{'Netflix', 'Amazon'}

In [21]:
print(len(set(Company_List1 ) & set (Company_List2 ))) ## Total no of brand names Overlapping

2

In [26]:
 ### Question 3   ## Print even no from 20 to 40

for i in range(20,40,2):    ## 20 included 40 excluded 2 steps
    print(i)

20
22
24
26
28
30
32
34
36
38